	/*attempting to fix how it looks on mobile device*/
	/* Center website */
      /* testing for git push on git gui*/
      .main {
        max-width: 850px;
        margin: auto;
      }
	  
	  
      input[type="text"],
      select,
      textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }

      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }

      input[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }

      input[type="submit"]:hover {
        background-color: #45a049;
      }

      /*attempting to fix look on mobile devices*/
      .Contact_container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 40px;
       /* height: 600px;
        width: 450px;*/
        height: auto;
        width: auto;
        text-align: center;
       /* margin-left: 30%;
        margin-right: 50%;*/
        margin-top: 5%;
        margin-bottom: 10%;
      }
	  
	  .g-recaptcha{
		padding-top: 10px; 
		padding-bottom: 10px; 
		display: inline-block;
	  }
	  
	  .submit_button{
		width: auto;
	  }

      /*these CSS edits are related to the google recptcha*/ 
      /*testing*/
      .rc-anchor-normal .rc-anchor-pt{
        margin: 2px 11px 0 0;
        text-indent: 25px;
      }
      .rc-anchor-light.rc-anchor-normal{
        border: 1px solid #d3d3d3;
        height: fit-content;
        width: fit-content;
      }
      .rc-anchor-logo-portrait{
        margin: 0;
        width: 58px;
      }
      /*.rc-anchor-logo-img-portrait{
        background-size: 32px;
        height: 32px;
        margin: 0;
        width: 32px
      }*/
      .rc-anchor-logo-text{
        cursor: default;
        font-family: Roboto,helvetica,arial,sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        margin-top: 5px;
        text-indent: -20px;
      }
      /* Responsive layout - when the screen is less than 600px wide, 
      make the two columns stack on top of each other instead of next 
      to each other */
     /* @media screen and (max-width: 600px) {
        .col-25,
        .col-75,
        input[type="submit"] {
          width: 100%;
          margin-top: 0;
        }
      }*/