	.videogame_slides{
		display: none;
	}
	.videogame_img{
		width:100%; 
		height: 375px;
	}
	img{
		vertical-align: middle;
	}
	.image-slideshow-container {
		max-width: 900px;
		position: relative;
		margin: auto;
	}
	.dots_container {
		text-align:center;
	}
	.dots {
		height: 15px;
		width: 15px;
		margin: 10px 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	.active{
		background-color: #717171;
	}
	
	
	.navbar-brand {
		padding: 0;
	}

	/*remove the space between slide show and navbar in index.php*/
	.navbar {
		position: relative;
		min-height: 50px;
		border: 1px solid transparent;
		/*margin-bottom: 20px;*/
	}
	
	/*staffs' best picks ---video games--table CSS edit*/
		table {
		  margin: 0 auto;
		  text-align: center;
		  border-collapse: collapse;
		  border: 1px solid #d4d4d4;
		  font-size: 20px;
		  background: #fff;
		  font-family: 'Times New Roman', sans-serif, serif;
		  float: right;
		  margin-right: 20%;
		  margin-bottom: 20%;
		}

		table th, 
		table tr:nth-child(2n+2) {
		  background: #e7e7e7;
		}

		table th, 
		table td {
		  padding: 20px 30px;
		}

		table th {
		  border-bottom: 1px solid #d4d4d4;
		}     

		.staff_img {
			height: 8rem; 
			width: 25%; 
			float:left; 
			margin-left: -25PX;
		}
		
		.staff_title{
			 text-indent: 15px; 
			 margin-top: 20px;
		}
		.stars-outer {
		  display: inline-block;
		  position: relative;
		  font-family: FontAwesome;
		}

		.stars-outer::before {
		  content: "\f006 \f006 \f006 \f006 \f006";
		}

		.stars-inner {
		  position: absolute;
		  top: 0;
		  left: 0;
		  white-space: nowrap;
		  overflow: hidden;
		  width: 0;
		}

		.stars-inner::before {
		  content: "\f005 \f005 \f005 \f005 \f005";
		  color: #f8ce0b;
		}

		.attribution {
		  font-size: 12px;
		  color: #444;
		  text-decoration: none;
		  text-align: center;
		  position: fixed;
		  right: 10px;
		  bottom: 10px;
		  z-index: -1;
		}
		.attribution:hover {
		  color: #1fa67a;
		}
		
		#page-container{
			position: relative;
			margin-top: 70%;
			min-height: 80vh;
		}