body {
  font-family: Arial, Helvetica, sans-serif;
 min-height: 100%vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: repeat;
  background-image: url("/images/Space2.jpg");
  background-position: center;
}

* {
  box-sizing: border-box;
}
html {
  min-height: 100%vh;
  margin: 0;
  padding: 0;
}

/*START OF HOME PAGE EDITING (index.html)*/
div.transbox {
  margin: 30px;
  background-color: white;
  border: 1px solid black;
  opacity: 0.6;
  margin-left: auto;
  margin-right: 50%;
  position: center;
 /* margin-bottom: 20%;*/
}

div.transbox h1 {
  margin: 5%;
  font-weight: bold;
  color: black;
  text-indent: 34%;
}
div.transbox p {
  margin: 2%;
  font-weight: normal;
  color: black;
  text-indent: 50px;
}
/*end OF HOME PAGE EDITING (index.html)*/

/*added by Sean to fix footer travel*/
#page-container{
	position: relative;
	min-height: 100vh;
}
#content-wrap{
	padding-bottom: 2.5rem;
}
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	/*height: 2.5rem;*/
	background: black;
	padding: 4px 6px;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}
/*end footer fix*/

/*START OF FOOTER EDITING*/


/*.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: black;
  padding: 4px 6px;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  position: absolute;
 /* margin: 0 auto;*/
/*}
/*END OF FOOTER EDITING*/

/*  START OF SIGN UP PAGE EDITING*/
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: white;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  /*margin: 8px 0;*/
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width*/
.cancelbtn,
.signupbtn {
  float: inline-start;
  width: 20%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 60%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 45%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}


